---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE } from "@/config";
import ProjectCard from "@/components/ProjectCard.astro";

import { projects } from "@/content/projects"

---

<Layout title={`Projects | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Projects" pageDesc="All the projects I've worked on.">
    {
        projects.map((project) => (
            <ProjectCard {...project} />
        ))
    }
  </Main>
  <Footer />
</Layout>